{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}

{% block content %}
    <div class="m-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    {% if hasDataset %}
                        <div>
                            you already have dataset
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file" multiple webkitdirectory directory>
                        <button type="submit">Upload</button>
                    </form>

                    <!--WIP <form>
                        <input type="hidden" name="dir_name" id="id_dir_name">
                        <input type="file" name="file" onchange="selectFolder(event)" webkitdirectory="" multiple="" required="" directory="" id="id_file">
                        <button type="submit" class="btn btn-primary m-3">Submit</button>
                    </form> -->
                    <!-- OLD <a href="{% url 'gallery' %}" class="btn btn-outline-dark m-1">Go back</a>
                    <div class="card">

                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group m-3">
                                <label>Description</label>
                                <input required name="description" type="text" placeholder="Enter a description" class="form-control">
                            </div>

                            <div class="form-group m-3">
                                <label>Select a category</label>
                                <select name="category" class="form-control">
                                    <option value='null'>Select a category...</option>

                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group m-3">
                                <label>Create a new category</label>
                                <input name="category-new" type="text" placeholder="Create a new category" class="form-control">
                            </div>

                            <div class="form-group m-3">
                                <label>Upload images</label>
                                <input required name="images" type="file" multiple class="form-control-file">
                            </div>

                            <button type="submit" class="btn btn-primary m-3">Submit</button>

                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script>
        function selectFolder(e) {
            var theFiles = e.target.files;
            var relativePath = theFiles[0].webkitRelativePath;
            var folder = relativePath.split("/");
            $("#id_dir_name").val(folder[0]);
        }
    </script>
{% endblock content %}