{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}

{% block content %}
    <style>
        img {
            height: 20px;
        }
        .warning{
            background-color: lightgoldenrodyellow;
        }
        .success{
            background-color: lightblue;
        }


        .custom-file-button input[type=file] {
            margin-left: -2px !important;
        }

        .custom-file-button input[type=file]::-webkit-file-upload-button {
            display: none;
        }

        .custom-file-button input[type=file]::file-selector-button {
            display: none;
        }

        .custom-file-button:hover label {
            background-color: #dde0e3;
            cursor: pointer;
        }
    </style>
    <div class="m-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="success mb-3">
                        Successfully uploaded the dataset!
                    </div>
                    {% if hasDataset %} 
                    <div class="warning mb-3">
                        <img class="float-left" src="{% static 'warning.png' %}" alt="Dataset warning">
                        You already have an uploaded dataset. Uploading a new dataset will delete the existing dataset.
                    </div>
                    {% endif %}
                    <h2>Upload new dataset</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="mb-3">
                                <label class="form-label" for="zip_file">Select your zipped dataset</label>
                                <div class="input-group custom-file-button">
                                    <label class="input-group-text" for="zip_file">Choose .zip file</label>
                                    <input class="form-control" type="file" name="zip_file" id="zip_file" placeholder="Select .zip file">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-dark m-1" type="submit" id="submitButton">Upload</button>
                    </form>

                    <div class="progress">
                        <div id="bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function validateFile() {
            var fileInput = document.getElementById('zip_file');
            var file = fileInput.files[0];
            var fileType = file.type;
            console.log(fileType)
            
            if (fileType !== 'application/zip' && fileType !== 'application/x-zip-compressed') {
                alert('Please select a ZIP file.');
                return false;
            }
            else{
                return true;
            }
        }
        
        
        $(document).ready(function() {
            $(".success").hide();
            $("#submitButton").click(function(e) {
                e.preventDefault();
                if(validateFile()){    
                    var fileInput = document.getElementById("zip_file");
                    var file = fileInput.files[0];
                    var formData = new FormData();
                    formData.append("zip_file", file);
                    formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');

                    console.log(formData)

                    $.ajax({
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = (evt.loaded / evt.total) * 100;
                            percentComplete = parseInt(percentComplete);
                            console.log(percentComplete);

                            $("#bar").css('width',percentComplete+'%');
                            $("#bar").text(percentComplete+'%')

                            if (percentComplete === 100) {
                            // Upload completed
                            }
                        }
                        }, false);

                        return xhr;
                    },
                    url: "{% url 'add' %}",  // Replace with your Django view URL
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(result) {
                        console.log(result);
                        $(".success").html(result["message"]);
                        $(".success").show();
                    }
                    });
                }
            });
        });
    </script>
{% endblock content %}