{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}


{% block content %}
    <style>
        .links{
            color: inherit;
            text-decoration: inherit;
            display: block;
        }
        .mycont{
            max-width: 1600px;

        }
        .accordion-button:not(.collapsed){
            background: #F3F3F3;

        }
        .accordion-button:focus{
            box-shadow: inherit;
        }
       

    </style>

    <div class="container mycont mt-5 mx-2">
        <div class="row">
            <div class="col-sm-7">
                <div class="card my-2">
                    <div class="card-header">
                        Select augmentation
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                        Custom augmentation
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">Color augmentations</a>
                                                <div class="collapse" id="collapse1">
                                                    <div class="m-3" >
                                                        <div class="form-check" id="0" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="solarize" id="flexCheck0">
                                                            <label class="form-check-label" for="flexCheck0">
                                                            Solarize
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="1" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="posterize" id="flexCheck1">
                                                            <label class="form-check-label" for="flexCheck1">
                                                            Posterize
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            
                                            <li class="list-group-item">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">Affine augmentations</a>
                                                <div class="collapse" id="collapse2">
                                                    <div class="m-3" >
                                                        <div class="form-check" id="2" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="translatex" id="flexCheck2">
                                                            <label class="form-check-label" for="flexCheck2">
                                                            Translate X
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="3" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="translatey" id="flexCheck3">
                                                            <label class="form-check-label" for="flexCheck3">
                                                            Translate Y
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="4" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="shearx" id="flexCheck4">
                                                            <label class="form-check-label" for="flexCheck4">
                                                            Shear X
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="5" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="sheary" id="flexCheck5">
                                                            <label class="form-check-label" for="flexCheck5">
                                                            Shear Y
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">Flip and rotate augmentations</a>
                                                <div class="collapse" id="collapse3">
                                                    <div class="m-3" >
                                                        <div class="form-check" id="6" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="flipx" id="flexCheck6">
                                                            <label class="form-check-label" for="flexCheck6">
                                                            Flip horizontal
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="7" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="flipy" id="flexCheck7">
                                                            <label class="form-check-label" for="flexCheck7">
                                                            Flip vertical
                                                            </label>
                                                        </div>
                                                        <div class="form-check" id="8" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                            <input name="augmentations" class="form-check-input" type="checkbox" value="rotate" id="flexCheck8">
                                                            <label class="form-check-label" for="flexCheck8">
                                                            Rotate
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Premade augmentation
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="m-3">
                                            <div class="form-check form-switch">
                                                <input name="premade" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Randaugment</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="p-1">
                            <button type="submit" class='btn btn-dark col-12'>Augment</button>
                        </div>
                    </form>    
                </div>
            </div>
            <div class="col-sm-5">
                <h2 id="mouseover">Mouseover for a preview</h2>
                <img alt="preview image" class="img-fluid" id="img">
            </div>
        </div>
    </div>
    

    <script>
        
        $("#img").hide();
        var imgArray = new Array();
        var i;
        for(i=0;i<9;i++){
            imgArray[i] = new Image();
            imgArray[i].src = '../../static/images/preview'+ i +'.png';
        }

        function mouseover(index){
            $("#mouseover").hide();
            document.getElementById("img").src = imgArray[index].src
            $("#img").show();
        }

        function mouseout(index){
            $("#img").hide();
            $("#mouseover").show();
        }

       
    </script>
{% endblock content %}