{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}


{% block content %}
    <style>
        #warning-img {
            height: 20px;
            margin-bottom: 5px;
        }
        .warning{
            background-color: lightgoldenrodyellow;
        }
        button:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
        }
        .links{
            color: inherit;
            text-decoration: inherit;
            display: block;
        }
        .mycont{
            max-width: 1600px;

        }
        .accordion-button:not(.collapsed){
            background: #F3F3F3;

        }
        .accordion-button:focus{
            box-shadow: inherit;
        }
       
        .input-group-text, input[type='number'] {
            height: 30px;
        }
        .info{
            height: 30px;
            margin-left: 20px;
        }
        .preview{
            min-height: 200px;
            max-width: 600px;
        }
        

    </style>

    <div class="container mycont mt-5">
        <div class="row">
            <div class="col">
                {% if hasDataset is False %}
                <div class="warning mb-3">
                    <img id="warning-img" class="float-left" src="{% static 'warning.png' %}" alt="Dataset warning">
                    You don't have an uploaded dataset. Please <a class="link-dark" href="{% url 'upload' %}">upload</a> one to enable augmentation.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2 preview">
                <h2 id="mouseover">Mouseover for a preview</h2>
                
                {% for item in list %}
                    {% with "preview"|add:item|add:".png" as url %}
                    <img alt="preview image" style="display: none;" class="img-fluid" id="img{{ forloop.counter0 }}" src="{% static url %}">
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="col-md-7 order-md-1">
                <div class="card my-2">
                    <div class="card-header">
                        Select augmentation
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                        Custom augmentation
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item mx-3">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">Color augmentations</a>
                                                <div class="collapse" id="collapse1">
                                                    <div class="m-3">
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3" >
                                                                    <div class="form-check"  id="0" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="solarize" class="form-check-input" type="checkbox" id="custom0">
                                                                    <label class="form-check-label" for="custom0">Solarize</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range0">
                                                                        <div class="row g-2">
                                                                            <div class="col-5">
                                                                                <div class="input-group range0 tt" style="visibility: hidden;" title="0 to 255, lower means more pixels inverted">
                                                                                    <label for="min0" class="input-group-text">Min:</label>
                                                                                    <input name="min0" type="number" class="form-control" id="min0" min="0" max="255" value="32">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <div class="input-group range0 tt" style="visibility: hidden;" title="0 to 255, lower means more pixels inverted">
                                                                                    <label for="max0" class="input-group-text">Max:</label>
                                                                                    <input name="max0" type="number" class="form-control" id="max0" min="0" max="255" value="128">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Solarize inverts the colors of pixels above a threshold. Solarize randomly applies a threshold value within the specified range to each image.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="1" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="posterize" class="form-check-input" type="checkbox" id="custom1">
                                                                    <label class="form-check-label" for="custom1">Posterize</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range1">
                                                                        <div class="row g-2">
                                                                            <div class="col-10">
                                                                                <div class="input-group range1 tt" style="visibility: hidden;" title="1 to 8, lower means fewer color level">
                                                                                    <label for="min1" class="input-group-text">Bits:</label>
                                                                                    <input name="min1" type="number" class="form-control" id="min1" min="1" max="8" value="3">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Reduces the number of color levels in an image, resulting in a poster-like effect with fewer color tones. Enter the number of bits per color.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item mx-3">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">Affine augmentations</a>
                                                <div class="collapse" id="collapse2">
                                                    <div class="m-3" >
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="2" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="translatex" class="form-check-input" type="checkbox" id="custom2">
                                                                    <label class="form-check-label" for="custom2">Translate X</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range2">
                                                                        <div class="row g-2">
                                                                            <div class="col-5">
                                                                                <div class="input-group range2 tt" style="visibility: hidden;" title="-100 to 100, % of image width">
                                                                                    <label for="min2" class="input-group-text">Min:</label>
                                                                                    <input name="min2" type="number" class="form-control" id="min2" min="-100" max="100" value="-20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <div class="input-group range2 tt" style="visibility: hidden;" title="-100 to 100, % of image width">
                                                                                    <label for="max2" class="input-group-text">Max:</label>
                                                                                    <input name="max2" type="number" class="form-control" id="max2" min="-100" max="100" value="20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Shifts the image horizontally by random percentage within the specified range.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="3" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="translatey" class="form-check-input" type="checkbox" id="custom3">
                                                                    <label class="form-check-label" for="custom3">Translate Y</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range3">
                                                                        <div class="row g-2">
                                                                            <div class="col-5">
                                                                                <div class="input-group range3 tt" style="visibility: hidden;" title="-100 to 100, % of image height">
                                                                                    <label for="min3" class="input-group-text">Min:</label>
                                                                                    <input name="min3" type="number" class="form-control" id="min3" min="-100" max="100" value="-20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <div class="input-group range3 tt" style="visibility: hidden;" title="-100 to 100, % of image height">
                                                                                    <label for="max3" class="input-group-text">Max:</label>
                                                                                    <input name="max3" type="number" class="form-control" id="max3" min="-100" max="100" value="20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Shifts the image vertically by random percentage within the specified range.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="4" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="shearx" class="form-check-input" type="checkbox" id="custom4">
                                                                    <label class="form-check-label" for="custom4">Shear X</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range4">
                                                                        <div class="row g-2">
                                                                            <div class="col-5">
                                                                                <div class="input-group range4 tt" style="visibility: hidden;" title="-100 to 100, % of image width">
                                                                                    <label for="min4" class="input-group-text">Min:</label>
                                                                                    <input name="min4" type="number" class="form-control" id="min4" min="-100" max="100" value="-20">
                                                                                </div> 
                                                                            </div> 
                                                                            <div class="col-5"> 
                                                                                <div class="input-group range4 tt" style="visibility: hidden;" title="-100 to 100, % of image width"> 
                                                                                    <label for="max4" class="input-group-text">Max:</label> 
                                                                                    <input name="max4" type="number" class="form-control" id="max4" min="-100" max="100" value="20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Skews the image horizontally by random percentage within the specified range.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="5" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="sheary" class="form-check-input" type="checkbox" id="custom5">
                                                                    <label class="form-check-label" for="custom5">Shear Y</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range5">
                                                                        <div class="row g-2">
                                                                            <div class="col-5">
                                                                                <div class="input-group range5 tt" style="visibility: hidden;" title="-100 to 100, % of image height">
                                                                                    <label for="min5" class="input-group-text">Min:</label>
                                                                                    <input name="min5" type="number" class="form-control" id="min5" min="-100" max="100" value="-20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <div class="input-group range5 tt" style="visibility: hidden;" title="-100 to 100, % of image height">
                                                                                    <label for="max5" class="input-group-text">Max:</label>
                                                                                    <input name="max5" type="number" class="form-control" id="max5" min="-100" max="100" value="20">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" src="{% static 'info.png' %} " title="Skews the image vertically by random percentage within the specified range.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="8" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="rotate" class="form-check-input" type="checkbox" id="custom8">
                                                                    <label class="form-check-label" for="custom8">Rotate</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div id="range8" >
                                                                        <div class="row g-2">
                                                                            <div class="col">
                                                                                <div class="input-group range8 tt" style="visibility: hidden;" title="-180 to 180, angle in degrees">
                                                                                    <label for="min8" class="input-group-text">Min:</label>
                                                                                    <input name="min8" type="number" class="form-control" id="min8" min="-180" max="180" value="-45">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="input-group range8 tt" style="visibility: hidden;" title="-180 to 180, angle in degrees">
                                                                                    <label for="max8" class="input-group-text">Max:</label>
                                                                                    <input name="max8" type="number" class="form-control" id="max8" min="-180" max="180" value="45">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <img class="info tt" alt="info" src="{% static 'info.png' %} " title="Rotates the image by a random angle within the specified range.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item mx-3">
                                                <a class="links" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">Flip augmentations</a>
                                                <div class="collapse" id="collapse3">
                                                    <div class="m-3" >
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="6" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="flipx" class="form-check-input" type="checkbox" id="custom6">
                                                                    <label class="form-check-label" for="custom6">Flip horizontal</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-check"  id="7" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                                    <input name="augmentations" value="flipy" class="form-check-input" type="checkbox" id="custom7">
                                                                    <label class="form-check-label" for="custom7">Flip vertical</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Premade augmentation
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="m-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-check form-switch" id="9" onmouseover="mouseover(this.id)" onmouseout="mouseout(this.id)">
                                                        <input name="premade" class="form-check-input" type="checkbox" role="switch" id="premade" onclick="premadeCheck()">
                                                        <label class="form-check-label" for="premade">RandAugment</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div id="range9">
                                                        <div class="row g-2">
                                                            <div class="col">
                                                                <div class="input-group range9 tt" style="visibility: hidden;" title="1 to 14, number of augmentations applied">
                                                                    <label for="min9" class="input-group-text">N:</label>
                                                                    <input name="min9" type="number" class="form-control" min="1" max="13" value="2">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="input-group range9 tt" style="visibility: hidden;" title="1 to 30, magnitude of the augmentation. Higher magnitude means stronger augmentation">
                                                                    <label for="max9" class="input-group-text">M:</label>
                                                                    <input name="max9" type="number" class="form-control" min="1" max="30" value="9">
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <img class="info tt" alt="info" src="{% static 'info.png' %} " title="RandAugment is a data augmentation technique that randomly applies a sequence of transformations with a specified magnitude.">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group p-2">
                                <label for="imageRange" class="form-label">Select the number of augmented images:</label>
                                <input id="imageRange" name="imageRange" type="range" class="form-range" value="1" min="1" max="15" oninput="this.nextElementSibling.innerHTML = this.value">
                                <output>1</output>
                            </div>
                            
                        </div>
                        <div class="p-1">
                            {% if hasDataset is False %}
                            <button type="submit" class='btn btn-dark col-12' disabled="true">Augment</button>
                            {% else %}
                            <button type="submit" class='btn btn-dark col-12'>Augment</button>
                            {% endif %}
                        </div>
                    </form>    
                </div>
            </div>
            </div>
        
    </div>

    
      <script>
        // add tooltips
        const tooltipTriggerList = document.querySelectorAll('.tt')
        tooltipTriggerList.forEach(t => {
            new bootstrap.Tooltip(t);
        })

        // show range input when checkbox is checked
        $(document).ready(function() {
            
            $('input:checkbox').change(function() {
                if ($(this).is(':checked')) {
                $('.range'+this.parentNode.id).css('visibility','visible');
                } else {
                $('.range'+this.parentNode.id).css('visibility','hidden');
                }
            });

            let elementsArray = document.querySelectorAll('input[id^="m"]');

            // let users enter only integers
            elementsArray.forEach(function(elem) {
                elem.addEventListener("keydown", function(event) {
                    if (event.key === "." || event.key === "Decimal" || event.key=== "e") {
                        event.preventDefault();
                    }
                });
            });
            
        });

        var flag = 1; //are checkboxes enabled

        
        function premadeCheck(){
            // disables checkboxes and their ranges if premade is selected
            if(flag){
                $('input:checkbox[id^="custom"]').prop("disabled", true);
                $('input[id^="m"]').prop("disabled", true)
                flag=0;
            }
            else{
                $('input:checkbox[id^="custom"]').prop("disabled", false);
                $('input[id^="m"]').prop("disabled", false)
                flag=1;
            }
        }

        function mouseover(index){
            $("#mouseover").hide();
            $("#img"+index).show();
        }

        function mouseout(index){
            $("#img"+index).hide();
            $("#mouseover").show();
        }

       
    </script>
{% endblock content %}