{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col col-md-6 text-center">
            <button id="back" disabled="true" class="btn btn-dark m-1" onclick = 'window.location.href="/"'>Go back</button>
            <h2>Augmenting images</h2>
            <div id="loading-message" style="display:none;">Please wait while the images are being processed...</div>
            <div id="spinner" class="spinner-border text-secondary m-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            
        </div>
    </div>
</div>

<script>
    $('#loading-message').show();
    $('#download-message').hide();
    $(document).ready(function() {
        $.ajax({
            type: 'POST',
            url: '{% url "augmentDataset" %}',
            data : {
                augmentations : '{{ augmentations }}',
                premade : '{{ premade }}',
                ranges : '{{ranges}}',
                numberOfImages : '{{numberOfImages}}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data)
                $('#loading-message').html(data["message"]);
                // Make an AJAX request to the server to create the zip file
                $.ajax({
                    url: '{% url "zip" %}',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }, 
                    success: function(data) {
                        // Redirect the user to the download URL
                        window.location.href = '/download?filename=' + data.url;
                        $("#back").prop("disabled", false)
                        $('#spinner').hide();
                        $('#loading-message').html("Download started!");
                    },
                    error: function(xhr, status, error) {
                    console.log('Error:', error);
                    }
            });
            }
        });

    });
</script>
{% endblock content %}