{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}


{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row m-5">
        <div class="col-md-3">
            <div class="card my-2">
                <div class="card-header">
                    Manage dataset
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="links" href="{% url 'add' %}">Delete the dataset</a>
                    </li>
                    <li class="list-group-item">
                        <a class="links" href="{% url 'add' %}">Upload new dataset</a>
                    </li>
                    <li class="list-group-item">
                        <a class="links" href="{% url 'augment' %}">Augment dataset</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <h1>dataset info</h1>
            <h2>{{datasetName}}</h2>
        </div>
    </div>
    {% else %}
    <div class="row m-5">
        <div class="col-md-9">
            <h3><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to access all features</h3>
            <p>With an account you can upload your dataset, select augmentations and preview the results.</p>
        </div>
    </div>
    {% endif %}
    <div class="row m-5">

        <div class="col-md-9">
            <h2>About</h2>
        </div>
    </div>
</div>


<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .center {
        display: flex;
        align-items: center;
    }

    .links {
        color: inherit;
        text-decoration: inherit;
        display: block;
    }
</style>

{% endblock content %}