{% extends 'main.html' %}

{% load static %}

{% block title %} {{ page }} {% endblock title %}


{% block content %}



    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-outline-dark m-1">Go back</a>
                <h2>Augmented photo</h2>
                <div id="loading-message" style="display:none;">Please wait while the image is being processed...</div>
                <div id="spinner" class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <img id="processed-image" src="" alt="Processed Image">

                <div id="download-message" style="display:none;">Your download will begin shortly...</div>
                
            </div>
        </div>
    </div>
    
    <script>
    $(document).ready(function() {
        $('#loading-message').show();
        $('#download-message').hide();
        $('#processed-image').hide();
        $.ajax({
            type: 'POST',
            url: '{% url "process_image" %}',
            data : {
                augmentations : '{{ augmentations }}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data)
                $('#loading-message').hide();
                $('#spinner').hide();
                $('#processed-image').attr('src', "data:image/jpeg; base64,"+ data.url);
                $('#processed-image').show();
                $('#download-message').show();
                // Make an AJAX request to the server to create the zip file
                $.ajax({
                    url: '/photo/1/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }, 
                    success: function(data) {
                        // Redirect the user to the download URL
                        window.location.href = '/download?filename=' + data.url;
                        $('#download-message').hide();
                    },
                    error: function(xhr, status, error) {
                    console.log('Error:', error);
                    }
            });
            }
        });

    });
    </script>
{% endblock content %}